@model List<proje_mvc.Models.KartModel>

@{
    ViewData["Title"] = "Kart Listesi";
}

<h2>Kart Listesi</h2>


<!-- Yeni Kart Ekle Butonu -->
<a href="@Url.Action("kart_ekle", "Home")" class="btn btn-success">+ Yeni Kart Ekle</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
           
    <th> ID</th>
    <th>Kurum ID</th>
    <th>Personel ID</th>
    <th>Kayıt Tarihi</th>
    
    </tr>
    </thead>
    <tbody>
            @foreach (var kart in Model)
            {
            <tr>
                <td>@kart.Id</td>
                <td>@kart.kurum_id</td>
                <td>@kart.personel_id</td>
              
                <td>@kart.kayit_tarihi.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("kart_guncelle", "Home", new { kart_id = kart.kart_id })" class="btn">Düzenle</a>

                    <!-- SİLME -->
                    <form method="post" action="@Url.Action("kart_sil", "Home")" style="display:inline;">
                        <input type="hidden" name="kart_id" value="@kart.kart_id" />
                        <button type="submit" class="btn" style="background-color: #f44336;" onclick="return confirm('Silmek istediğinizden emin misiniz?');">Sil</button>
                    </form>
                    
                </td>
            </tr>
            }
    </tbody>
</table>
    </div>
    </tbody>
</table>
