@model proje_mvc.Models.PersonelModel

<form asp-action="personel_guncelle" method="post">
    <input type="hidden" name="personel_id" value="@Model.personel_id" />

    <label>Ad</label>
    <input type="text" name="ad" value="@Model.ad" />

    <label>Soyad</label>
    <input type="text" name="soyad" value="@Model.soyad" />

    <label>Adres</label>
    <input type="text" name="adres" value="@Model.adres" />

    <label>Telefon</label>
    <input type="text" name="telefon" value="@Model.telefon" />

    <label>TC</label>
    <input type="text" name="TC" value="@Model.TC" />

    <label>Doğum Tarihi</label>
    <input type="date" name="dogum_tarihi" value="@Model.dogum_tarihi?.ToString("yyyy-MM-dd")" />

    <label>İşe Başlama Tarihi</label>
    <input type="date" name="ise_baslama_tarihi" value="@Model.ise_baslama_tarihi?.ToString("yyyy-MM-dd")" />

    <label>Kurum ID</label>
    <input type="text" name="kurum_id" value="@Model.kurum_id" />

    <label>Kart ID</label>
    <input type="text" name="kart_id" value="@Model.kart_id" />

    <button type="submit">Güncelle</button>
</form>
